# Специфично для Android-редакторов (AIDE и др.)
.navigation/
bin/
gen/
obj/
*.apk

# Стандарт для Java/Maven
target/
*.class

# Если используешь IntelliJ или Android Studio на телефоне
.idea/
*.iml
.project
.classpath
.settings/
